/* Reset CSS */
*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

body{
  font-family: Roboto, Helvetica, sans-serif;
}


/* -----------Navigation-------------- */

.container-navigation{
  position: fixed;
  background: rgba(63, 57, 57, 0.658);
  width: 100%;
  height: 100px;
  z-index: 1000;
}

nav ul{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

nav li{
  margin: 0 15px;
}

nav a{
  text-decoration: none;
  color: #f1f1f1;
  font-size: 18px;
  text-transform: uppercase;
  
}
/*  Animation navigation*/

nav a:hover{
  transition: all 0.2s ease-in-out;
  color: #000;
  
}

@media screen and (min-width: 895px) {
  nav li{
    margin: 0 10px;
    white-space: nowrap;
  }

  nav a{
    font-size: 20px;
  }
}

@media screen and (max-width: 716px){

  nav li{
    margin: 0 3px;
    display: flex;
    flex-wrap: wrap;
    
    
    
  }

  nav a{
    font-size: 8px;
    margin-right: 4px;
    
  }

}

/* ------Acceuil------- */

.acceuil{
  display: flex;
  height: 800px;
  overflow: hidden;
}

.bloc-acceuil-left{
  position: relative;
  width: 40%;
  height: 100%;
  background: rgb(75, 67, 67);
  box-shadow: 90px 0 100px 100px rgb(75, 67, 67);
}

h1{
  color: #f1f1f1;
  font-family: Montserrat, Helvetica, sans-serif;
  font-size: 90px;
  padding-top: 200px;
  padding-bottom: 20px;
  margin-left: 6vw;
  white-space: nowrap;

}

.acceuil p{
  color: #f1f1f1;
  font-size: 30px;
  margin-left: 6vw;
  width: 600px;
  line-height: 1.3;
}

.cont-btn-home{
  display: flex;
}

.btn-acceuil{
  font-size: 18px;
  padding: 15px;
  text-decoration: none;
  color: #f1f1f1;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 40px;
  border: solid 1px #f1f1f1;
  width: 150px;
  text-align: center;
  text-transform: uppercase;
}

/* Animation bouton */
.btn-acceuil:hover{
  transition: all 0.2s ease-in-out;
  color: #000;
  background: #f1f1f1;
}
/* Fin de l'animation bouton */
.b1{
  margin-left: 6vw;
}

.b2{
  margin-left: 10px;
}

.bloc-acceuil-right{
  background-image: url(images/sans-abri-2.jpeg);
  width: 60%;
  height: 100%;
  background-repeat:round;
  background-position: 10px 50px;
}

/* Media Acceuil */

@media screen and (max-width: 1350px){
  .bloc-acceuil-left{
    width: 60%;
  }

  .bloc-acceuil-right{
    background-position: 72% 10%;
  }
}

@media screen and (max-width: 902px){
  h1{
    font-size: 50px;
    margin-left: 4vw;
  }

  .acceuil p{
    font-size: 18px;
    margin-left: 4vw;
  }

  .btn-acceuil{
    padding: 5px;
  }

  .bloc-acceuil-right{
    background-image: url(images/sans-abri-3.jpeg);
    background-position: 90px 0;
  }
}

@media screen and (max-width: 492px){
  .acceuil{
    height: 500px;
  }
  h1{
    font-size: 25px;
    margin-left: 2vw;
  }

  .acceuil p{
    font-size: 12px;
    margin-left: 2vw;
  }

  .btn-acceuil{
    font-size: 10px;
    margin-left: 2vw;
  }

  .bloc-acceuil-left{
    width: 45%;
  }
}

@media screen and (max-width: 144px){
  h1{
    font-size: 14px;
  }
  .acceuil p{
    font-size: 11px;
  }

  .btn-acceuil{
    font-size: 7px;
  }

  nav{
    display: flex;
    flex-wrap: wrap;
  }
}


