/* Reset CSS */
*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

body{
  font-family: Roboto, Helvetica, sans-serif;
}


/* -----------Navigation-------------- */

.container-navigation{
  position: fixed;
  background: #000;
  width: 100%;
  height: 100px;
  z-index: 1000;
}

nav ul{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

nav li{
  margin: 0 15px;
}

nav a{
  text-decoration: none;
  color: #f1f1f1;
  font-size: 18px;
  text-transform: uppercase;
  
}

@media screen and (min-width: 895px) {
  nav li{
    margin: 0 5px;
    white-space: nowrap;
  }

  nav a{
    font-size: 12px;
  }
}

@media screen and (max-width: 716px){

  nav li{
    margin: 0 3px;
    display: flex;
    flex-wrap: wrap;
    
    
    
  }

  nav a{
    font-size: 8px;
    margin-right: 4px;
    
  }

}

/* ------Acceuil------- */

.acceuil{
  display: flex;
  height: 800px;
  overflow: hidden;
}

.bloc-acceuil-left{
  position: relative;
  width: 40%;
  height: 100%;
  background: #000;
  box-shadow: 90px 0 100px 100px #000;
}